@import "tailwindcss";

@theme {
  /* Accent Colors */
  --color-accent-primary: rgb(244, 108, 56);
  --color-accent-secondary: rgb(197, 255, 65);

  /* Background Colors */
  --color-surface-dark: rgb(20, 18, 18);
  --color-surface-light: #ffffff;

  /* Text Colors */
  --color-prominent: #000000;
  --color-heading-primary: #ffffff;
  --color-heading-secondary: #b6b4bd33;
  --color-charcoal: #151312;
  --color-content-light: #fff;
  --color-content-primary: #998f8f;
  --color-content-secondary: #6a6b6e;
  --color-label: #888888;

  /* Spacings */
  --spacing-input: 0.75rem; /* 12px */

  /* Border Radius */
  --radius-ultra-tight: 0.25rem; /* 4px */
  --radius-tight: 0.375rem; /* 6px */
  --radius-compact: 0.5rem; /* 8px */
  --radius-regular: 0.625rem; /* 10px */
  --radius-relaxed: 0.75rem; /* 12px */
  --radius-rounded: 0.875rem; /* 14px */
  --radius-soft: 1rem; /* 16px */
  --radius-extra-soft: 1.125rem; /* 18px */
  --radius-circle: 100%;

  /* duration */
  --transition-duration-short: 300ms;
  --transition-duration-medium: 500ms;
  --transition-duration-large: 700ms;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
  /* background-color: var(--color-bg-main); */
  background-color: var(--color-charcoal);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  body {
    background-color: white;
  }
}

.main-heading {
  font-size: clamp(35px, 5.52vw, 94px);
}
